logging:
  level:
    root: INFO
    org:
      springframework:
        ai:
          chat:
            client: DEBUG
#    io:
#      modelcontextprotocol:
#        client: DEBUG
#        spec: DEBUG
#        server: DEBUG

springdoc:
  swagger-ui:
    path: /swagger-ui.html
    enabled: true
  api-docs:
    path: /api-docs

server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  ai:
    gigachat:
      auth:
        bearer:
          api-key: ${GIGACHAT_API_KEY}
        scope: GIGACHAT_API_PERS
        unsafe-ssl: true
    mcp:
      client:
        enabled: true
        name: my-mcp-client
        version: 1.0.0
        request-timeout: 600s
        type: SYNC
        streamable-http:
          connections:
            server1:
              url: http://localhost:20000
              endpoint: /mcp