server:
  port: 20000

logging:
  level:
    root: INFO
#    io:
#      modelcontextprotocol:
#        client: DEBUG
#        spec: DEBUG
#        server: DEBUG

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/postgres
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  ai:
    mcp:
      server:
        name: sql-mcp-server
        protocol: streamable
        version: 1.0.0
        type: SYNC
        instructions: "This server provides sql information"
        capabilities:
          tool: true
          resource: false
          prompt: false
          completion: false
        streamable-http:
          mcp-endpoint: /mcp
    vectorstore:
      pgvector:
        initialize-schema: true
    gigachat:
      auth:
        bearer:
          api-key: ${GIGACHAT_API_KEY}
        scope: GIGACHAT_API_PERS
        unsafe-ssl: true
